<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <link rel="stylesheet" href="../dist/styles/box.css" />
    </head>
    <body>
        <h1>Hello WebPack</h1>

        <div>
            <h3>Site menu</h3>
            <ul>
                <li>
                    <a href="about.html">About page</a>
                </li>
            </ul>
        </div>

        <div id="app">
            <div>
                <h3>Page menu</h3>
                <ul>
                    <li>
                        <router-link to="/">Home</router-link>
                    </li>
                    <li>
                        <router-link to="/about">About</router-link>
                    </li>
                </ul>
            </div>
            <div>
                <router-view></router-view>
            </div>
        </div>
        <script defer src="../dist/chunks/vue.js"></script>
        <script defer src="../dist/scripts/home.js"></script>
    </body>
</html>
